package $assertPkg;
import $solidClassFQ;
import org.assertj.robolectric.api.AbstractRobolectricAssert;
import $shadowAssertClassFQ;
import $shadow;
public abstract class $abstractAssertClass <
  S extends $abstractAssertClass<S,A,AA,SA>,
  A extends $solidClass,
  AA extends $abstractAndroidAssertClassFQ<AA,A>,
  SA extends $abstractShadowAssertClass<SA,? extends $shadow.getSimpleName()>> extends AbstractRobolectricAssert<S,A,AA,SA> {

  protected $abstractAssertClass(A actual,
            AA actualAssert,
            SA shadowAssert,
            Class<S> selfType) {
    super(actual, actualAssert, shadowAssert, selfType);
  }

#set( $rettype = "S" )
#parse( "methods.vm" )
}
