package org.assertj.robolectric.api;

public final class Assertions {

#foreach( $m in $methods )
  #set( $actual = $m.getParameters().get(0).asType() )
  #set( $shadow = $solids.get($actual) )
  #set( $returnType = $m.getReturnType().toString() )
  #if( $shadow )
    #set( $roboReturn = $returnType.replace("assertj.android", "assertj.robolectric") )
    #set( $shadowReturn = $roboReturn.replaceFirst("(api[.].*[.])([^.]*$)", "$1Shadow$2") )
    #set( $shadowAssert = $elements.getTypeElement($shadowReturn) )
    #if( $shadowAssert )
      #set( $returnType = $roboReturn )

  public static $shadowReturn assertThat($shadow actual) {
    return new $shadowReturn(actual);
  }
    #end
  #end
    
  public static $returnType assertThat($actual actual) {
    return new $returnType(actual);
  }
#end
  
  private Assertions() {
    throw new AssertionError("No instances.");
  }
}
