#foreach( $m in $actualMethods )
#set( $mname = $m.getSimpleName() )
  public $rettype $mname(#set( $first = false )#foreach( $p in $m.getParameters() )#if( $first ), #else#set( $first = true )#end$p.asType() $p.getSimpleName()#end) {
    actualAssert.$mname(#set( $first = false )#foreach( $p in $m.getParameters() )#if( $first ), #else#set( $first = true )#end$p.getSimpleName()#end);
    return #if( $rettype == "S" )myself#{else}this#end;
  }
#end
#foreach( $m in $shadowMethods )
#set( $mname = $m.getSimpleName().toString() )
  public $rettype shadow$mname.substring(0,1).toUpperCase()$mname.substring(1)(#set( $first = false )#foreach( $p in $m.getParameters() )#if( $first ), #else#set( $first = true )#end$p.asType() $p.getSimpleName()#end) {
    shadowAssert.$mname(#set( $first = false )#foreach( $p in $m.getParameters() )#if( $first ), #else#set( $first = true )#end$p.getSimpleName()#end);
    return #if( $rettype == "S" )myself#{else}this#end;
  }
#end
